flask
flask-cors
python-dotenv

openai
pinecone

pymupdf

langchain
langchain-huggingface
langchain-text-splitters
langchain-community

sentence-transformers
transformers
torch

google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client

apscheduler